nav {
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.posts {
  display: grid;
  grid-gap: 1.2em;
}

.posts .project {
  // width: 200px;
  // display: inline-block;
  // margin: 1em;
}

.posts .project > .thumb {
  // width: 200px;
  height: 180px;
  // background: orange;
}

.project h3 {
  // font-size: 0.8em;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}